@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: auto;
    /* max-width: 1440px; */
    max-width: 1520px;
    position: relative;
}

body::-webkit-scrollbar-thumb {
  background-color: #888888; /* Adjust thumb color */
  border-radius: 5px; /* Adjust border radius */
}

/* Style the scrollbar track (background) */
body::-webkit-scrollbar-track {
  background-color: #dddddd; /* Adjust track color */
  border-radius: 5px; /* Adjust border radius */
}

/* Hide scrollbar buttons (arrows) */ 
body::-webkit-scrollbar-button {
  display: none;
}